.header
  .header__logo

.MainContent
  .MainContent__box
    .MainContent__box__ImageContent
      .MainContent__box__ImageContent__box
        

    .MainContent__box__ItemInfoContent
    
    .MainContent__box__ItemDetailContent
    
    .MainContent__box__DeliveryInfoContent
    
    .MainContent__box__CostInfoContent


.LowerContent