.lower-content
  .legal-info-box
    .hoge
      = link_to "#" do
        .privacy-policy-box プライバシーポリシー
      = link_to "#" do  
        .terms-box FURIMA利用規約
      = link_to "#" do
        .specified-commercial-transaction-act-box 特定商取引に関する表記
  .footer__logo
    .logo-img
      = image_tag "/logo-white.png", size: "160x46"
    .logo-text ©FURIMA