$bg-border-color: #EEEEEE;

.main-confirm-contents{
  background-color: $bg-border-color;
  .main-confirm-content{
    height: 800px;
    width: 700px;
    background-color: white;
    margin: 0 auto;

    &__header{
      height: 90px;
      width: 100%;
      border-bottom: 1px solid $bg-border-color;
      h2{
        font-size:23px;
        font-weight: bold;
        text-align: center;
        line-height: 90px;
      }
    }
    &__buy-item{
      height: 100px;
      width: 100%;
      border-bottom: 1px solid $bg-border-color;
      padding: 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__group{
        margin-left: 15px;
        width: 280px;
        &__item-name{
          font-size: 14px;
          margin-bottom: 5px;
        }
        &__item-price{
          font-size: 13px;
          display: inline-block;
          float: left;
          h3{
            font-weight: bold;
            display: inline-block;
          }
        }
        &__shipping-fee-payer{
          float: left;
          margin-left: 5px;
          h3{
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
    &__payment{
      height: 100%;
      width: 100%;
      padding: 30px 0px;

      &__group{
        height: 100%;
        width: 400px;
        margin: 0 auto;

        &__price-point{
          width: 100%;
          padding: 10px 0px;
          border-bottom: 2px solid $bg-border-color;
          
          &__price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
              font-size: 23px;
              font-weight: bold;
            }
          }
          &__point{
            color: rgb(182, 182, 182);
            h3{
              font-size: 14px;
            }
          }
        }
        &__way{
          padding: 30px 0px;
          border-bottom: 2px solid $bg-border-color;
          h2{
            font-size: 15px;
            font-weight: bold;
          }
          h3{
            font-size: 14px;
            margin-top: 5px;
            color: rgb(75, 168, 211);
            &::before{
              content: '\f055';
              font-family: "Font Awesome 5 Free";
              font-weight: bold;
            }
          }
        }
        &__location{
          padding: 30px 0px;
          border-bottom: 2px solid $bg-border-color;
          h2{
            font-size: 15px;
            font-weight: bold;
            
          }
          h3{
            font-size: 14px;
            margin-top: 5px;
          }
        }
        &__submit{
          height: 60px;
          width: 100%;
          margin-top:50px;
          margin: 0 auto;
          .confirm-submit{
            height: 100%;
            width: 100%;
            margin-top: 40px;
            color: white;
            font-weight: bold;
            border-radius: 4px;
            background-color: red;
          }
          .return-btn {
            background-color: #DDDDDD;
            font-weight: bold;
            width: 100%;
            height: 55px;
            border-radius: 4px;
            outline: none;
            border-style: none;
            margin-top: 30px;
          }
        }
      }
    }
  }
}