.body {
  min-height: 100vh;
  background-color: #FFF;
  overflow: scroll;

  .items-new-header {
    height: 128px;
    background-color: #f1f1f1;

    a{
      margin:0 auto;
      display:block;
      width: 200px;
      padding-top: 35px;
    }
    &__logo {
      margin:0 auto;
      display:block;

    }
  }
  .main-content {
    background-color: #f1f1f1;
    
    &__box {
      margin: 0 auto;
      background-color: #f1f1f1;
      height: 100%;
      width: 700px;

      &__image-content {
        height: 350px;
        width: 700px;
        background-color: #FFF;
        position: relative;

        &__field {
          height: 220px;
          width: 620px;
          padding-top: 40px;
          margin:  auto;

          &__subtitle {
            height: 19px;
            width: 620px;
            display: flex;

            .index {
              font-size: 14px;
              font-weight: bold;            
            }

            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
            }
          }
          .memo {
            margin-top: 2px;
            margin-bottom: 10px;
            font-size: 14px;
            color: #555555;
            display: flex;
          }


          .image-upload-group{
            width: 580px;
            height: 232px;
            margin: 0 auto;

            .item-image{
              display: inline-block;
              border: 1px solid rgb(151, 151, 151);
              margin: 1px;
              width: 112px;
              height: 112px;
              background-color: rgb(243, 243, 243);
              &__operation--delete{
                font-weight: bold;
                color: rgb(39, 180, 192);
                text-align: center;
                cursor: pointer;
              }
            }
            #image-box__container {
              background-color: #f1f1f1;
              border: dashed 2px #CCCCCC;
              text-align: center;
              position: relative;
              box-sizing: border-box;
  
              .image-field__label{
                width:100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                  position: absolute;
                  top: 40%;
                  font-size: 30px;
                }
                #img-file {
                  height: 100%;
                  width: 100%;
                  opacity: 0;
                  outline: none;
                  cursor: pointer;
                }
                .image-upload-description-box {
                  font-size: 12px;
                  height: 16px;
                  color: #333333;
                  position: absolute;
                  top: 60%;
                  left: 30%;
                }
              } 
            }
          }
        }
      }

      &__item-info-content {
        height: 416px;
        width: 700px;
        background-color: #FFF;
        margin-top: 2px;

        &__subtitle {
          height: 19px;
          width: 620px;
          display: flex;
          margin: 0 auto;
          padding-top: 40px;

          .index {
            font-size: 14px;
            font-weight: bold;
          }
          .caution {
            height: 16px;
            width: 32px;
            border-radius: 2px;
            font-size: 12px;
            font-weight: bold;
            margin-left: 8px;
            background-color: red;
            color: white;
            text-align: center;
          }
        }
        .name-input-box {
          width: 628px;
          height: 48px;
          margin: 20px 40px;
          outline: none;
          box-sizing: border-box;
          padding: 7px 30px 7px 10px;
        }
        &__description {
          height: 19px;
          width: 620px;
          display: flex;
          margin: 0 55px;
          padding-top: 10px;

          .index {
            font-size: 14px;
            font-weight: bold;
          }
          .caution {
            height: 16px;
            width: 32px;
            border-radius: 2px;
            font-size: 12px;
            font-weight: bold;
            margin-left: 8px;
            background-color: red;
            color: white;
            text-align: center;
          }
        }
        .description-input-box {
          width: 628px;
          height: 156px;
          margin: 20px 40px;
          line-height: 1.5;
          outline: none;
          border-color: #f1f1f1;
          box-sizing: border-box;
          padding: 7px 30px 7px 10px;
        }
      }
//-------------商品詳細-------------------
      &__item-detail-content {
        height: 720px;
        width: 700px;
        background-color: #FFF;
        margin-top: 2px;

        &__field {
          width: 620px;
          height: 420px;
          margin: 0 40px;
          padding-top: 40px;

          &__subtitle {
            color: gray;
            font-weight: bold;
            font-size: 14px;
          }

          .category-box {
            height: 19px;
            width: 620px;
            display: flex;
            padding-top: 10px;
            margin-bottom: 20px;
            
            .index {
              font-size: 14px;
              font-weight: bold;
            }
  
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
            }
          }
          .product_category-select{
            .category_select-box{
              cursor: pointer;
            }
          }
          select {
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
            background-color: #FFF; 
            margin-bottom: 20px;
            padding: 7px 30px 7px 10px;
            font-size: 16px; 
            border-radius: 4px; 
            border-color: #f1f1f1;         
            background-image: url(/download.png);
            background-repeat: no-repeat;
            background-size: 20px 10px;
            background-position: right 10px center;
            width: 100%;
            height: 48px; 
            outline: none;
          }
          .brand-box {
            display: flex;
            margin-top: 20px;

            .index {
              font-size: 14px;
              font-weight: bold;  
            }
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: #f1f1f1;
              color: white;
              text-align: center;
            }
          }
          .brand-input-box {
            width: 100%;
            height: 48px;
            margin-top: 20px;
            box-sizing: border-box;
            padding: 7px 30px 7px 10px;
          }
          .size-box {
            display: flex;
            margin-top: 20px;

            .index {
              font-size: 14px;
              font-weight: bold;  
            }
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: #f1f1f1;
              color: white;
              text-align: center;
            }
          }
          .size-input-box {
            width: 100%;
            height: 48px;
            margin-top: 20px;
            box-sizing: border-box;
            padding: 7px 30px 7px 10px;
          }
          .condition-box {
            display: flex;
            margin-top: 20px;

            .index {
              font-size: 14px;
              font-weight: bold;  
            }
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
            }
          }
          .condetion-form-field {
            margin-top: 20px;
            #item_condition{
              cursor: pointer;
            }
          }       
        }
      }
//-------------発送について-------------------
      &__delivery-info-content {
        height: 444px;
        width: 700px;
        background-color: #FFF;
        margin-top: 2px;

        &__field {
          width: 620px;
          height: 420px;
          margin: 0 40px;
          padding-top: 40px;

          &__subtitle-box {
            display: flex;
          }

          &__subtitle {
            color: gray;
            font-weight: bold;
            font-size: 14px;           
          }

          .faq-icon {
            text-decoration: none;
            color: #A4C6FF;
            margin:0 0 0 4px;
            font-size: 14px;
          }
          .shipping-fee-payer-box {
            display: flex;

            .index {
              font-size: 14px;
              font-weight: bold;
            }
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
            }
          }
          .shipping-fee-payer-form-field{
            #item_shipping_fee_payer{
              cursor: pointer;
            }
          }
          select {
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
            background-color: #FFF; 
            margin-bottom: 20px;
            padding: 7px 30px 7px 10px;
            font-size: 16px; 
            border-radius: 4px; 
            border-color: #f1f1f1;         
            background-image: url(/download.png);
            background-repeat: no-repeat;
            background-size: 20px 10px;
            background-position: right 10px center;
            background-color: white;
            width: 100%;
            height: 48px; 
            outline: none;
          }
          .shipping-location-box {
            display: flex;
            margin-bottom: 20px;

            .index {
              font-size: 14px;
              font-weight: bold;
            }
            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
            }
          }  
          #item_prefecture_id{
            cursor: pointer;
          }
        }
          .shipping-fee-payer-box {
            height: 19px;
            width: 620px;
            display: flex;
            padding-top: 10px;
            margin-bottom: 20px;
          }
          .shipping-days-form-field{
            #item_shipping_days{
              cursor: pointer;
            }
          }
      }
//-------------販売価格について-------------------
      &__cost-info-content {
        height: 558px;
        width: 700px;
        background-color: #FFF;
        margin-top: 2px;

        &__subtitle-box {
          display: flex;
          padding: 40px 40px;

          &__subtitle {
            color: gray;
            font-weight: bold;
            font-size: 14px;
          }
          .faq-icon {
            font-size: 14px;
            text-decoration: none;
            color: #A4C6FF;
            margin:0 0 0 4px;
          }
        }
        .price-info-box {
          display: flex;
          justify-content: space-between;
          margin: 0 40px;
          height: 58px;

          &__left {
            display: flex;

            .index {
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              line-height: 58px;
            }

            .caution {
              height: 16px;
              width: 32px;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              margin-left: 8px;
              background-color: red;
              color: white;
              text-align: center;
              margin-top: 20px;
            }
          }

          &__right {
            display: flex;
            
            .currency {
              font-size: 14px;
              color: #333333;
              text-align: center;
              line-height: 58px;
              margin-right: 8px;
            }
            .price-input-box {
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: 285px;          
            }
          }
        }

        .sales-commission-info {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          margin: 40px;
          color: #333333;
          height: 50px;
          border-bottom: solid 1px #f1f1f1;         
        }

        .sales-profit-info {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          margin: 20px 40px;
          color: #333333;
        }

        .sell-btn {
          background-color: red;
          color: white;
          font-weight: bold;
          width: 360px;
          height: 48px;
          border-radius: 4px;
          outline: none;
          border-style: none;
          margin: 20px 170px;
          cursor: pointer; 
        }
        .new-return-btn {
          background-color: #DDDDDD;
          font-weight: bold;
          width: 360px;
          height: 48px;
          border-radius: 4px;
          outline: none;
          border-style: none;
          margin: 5px 170px;
          cursor: pointer;
        }

        

        .terms-info-box {
          font-size: 12px;
          color: #333333;
          margin: 20px 40px;
        }
      }      
    }
  }
  .lower-content {
    height: 220px;
    bottom: 0;
    background-color: #f1f1f1;
    padding: 40px 0 41px;
    
    .legal-info-box {
      width: 100%;      
      font-size: 12px;

      .hoge {
        text-align: center;
        display: flex;
        margin: 0 auto;
        width: 500px;

        a {
          text-decoration: none;
          color: #333333;

          .privacy-policy-box {
            margin-right: 75px;   
          }
    
          .terms-box {
            margin-right: 75px;    
          }
        }
      }
    } 
    .footer__logo {

      .logo-img {
        text-align: center;
        padding-top: 50px;
      }

      .logo-text {
        font-size: 12px;
        text-align: center;
      }
    }
  }

}

