.item-num-0{
  height: 100%;
  width: 100%;
}
.item-num-1{
  float: right;
  height: 116px;
  width: 464px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-2{
  float: right;
  height: 116px;
  width: 348px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-3{
  float: right;
  height: 116px;
  width: 232px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-4{
  float: right;
  height: 116px;
  width: 116px;
  .image-upload-description-box{
    opacity: 0;
  }
}
//下段のfile_field
.item-num-5{
  height: 116px;
  width: 100%;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-6{
  float: right;
  height: 116px;
  width: 464px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-7{
  float: right;
  height: 116px;
  width: 348px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-8{
  float: right;
  height: 116px;
  width: 232px;
  .image-upload-description-box{
    opacity: 0;
  }
}
.item-num-9{
  float: right;
  height: 116px;
  width: 116px;
  .image-upload-description-box{
    opacity: 0;
  }
}



#item_images_attributes_0_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_1_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_2_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_3_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_4_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_5_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_6_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_7_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_8_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_9_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
#item_images_attributes_10_image{
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}