.item-num-0{
  height: 100%;
  width: 100%;
}
.item-num-1{
  float: right;
  height: 114px;
  width: 456px;
  
}
.item-num-2{
  float: right;
  height: 114px;
  width: 342px;
}
.item-num-3{
  float: right;
  height: 114px;
  width: 228px;
}
.item-num-4{
  float: right;
  height: 114px;
  width: 114px;
}
//下段のfile_field
.item-num-5{
  height: 114px;
  width: 100%;
}
.item-num-6{
  float: right;
  height: 114px;
  width: 456px;
}
.item-num-7{
  float: right;
  height: 114px;
  width: 342px;
}
.item-num-8{
  float: right;
  height: 114px;
  width: 228px;
}
.item-num-9{
  float: right;
  height: 114px;
  width: 114px;
}