a {
  text-decoration: none;
  color: black;
}

.product-contents{
  height: auto;
  max-height: 3800px;
  width: 100%;
  padding-top: 20px;
  position: relative;
  background-color: #f1f1f1;
  padding-bottom: 90px;
    &__inner{
      width: 1000px;
      background-color: #f1f1f1;
      margin: 0 auto;
      &__mainbox{
        height: auto;
        max-height: 2500px;
        width: 920px;
        margin: 50px auto;
        background-color: white;
        padding-bottom: 30px;
        &__top{
          margin: auto;
          height: 100px;
          width: 600px;
          background-color: white;
          text-align: center;
          font-weight: bold;
          // margin-top: 20px;
          &__name {
            height: 70px;
            font-size: 40px;
            line-height: 70px;
            padding-top: 25px;
            color: #333333;
          }
        }

        &__main-upper-box {
          display: flex;

          &__main-image{
            height: 400px;
            width: 400px;
            margin-left: 40px;
            .swiper-container {
              width: 100%;
              height: 425px;
              margin-left: auto;
              margin-right: auto;
            }
            .swiper-slide {
              background-size: cover;
              background-position: center;

              .items-box_photo__sold {
                width: 0;
                height: 0;
                border-top: 100px solid #ea352d ;
                border-right: 100px solid transparent;
                border-bottom: 100px solid transparent;
                border-left: 100px solid #ea352d ;
                z-index:100;
                position: relative;
                top:-395px;
                &__inner{
                  transform: rotate(-45deg);
                  font-size: 32px;
                  margin:-50px 10px 0px -75px;
                  color: #fff;
                  letter-spacing: 1px;
                  font-weight: 600;
                }
              }
            }
            .gallery-top {
              height: 100%;
              width: 100%;
            }
            .gallery-thumbs {
              height: 50%;
              box-sizing: border-box;
              padding: 10px 0;
            }
            .gallery-thumbs .swiper-slide {
              height: 100%;
              opacity: 0.4;
            }
            .gallery-thumbs .swiper-slide-thumb-active {
              opacity: 1;
            }           
          }
          
  
          &__table{
            height: 300px;
            width: 425px;
            background-color: darkslateblue;
            border: solid 1px gainsboro;
            font-size: 14px;
            margin-left: 20px;
            &__category-box{
              display: flex;
              .category-leftbox{
                height: 100px;
                line-height: 100px;
                text-align: center;
                width: 150px;
                background-color: lightgray;
                border-right: solid 1px gainsboro;
                border-bottom: solid 1px gainsboro;
              }
              .category-rightbox{
                height: 100px;
                width: 450px;
                line-height: 30px;
                background-color: white;
                border-bottom: solid 1px gainsboro;
                padding-left: 7px;

                .parent-name {
                  display: block;
                  color: rgb(70, 165, 165);
                  &:hover{
                    color: rgb(157, 214, 214);
                  }
                }
                .children-name {
                  display: block;
                  color: rgb(70, 165, 165);
                  &::before{
                    font-family: "Font Awesome 5 Free";
                    content:"\f054";
                    font-weight: bold;
                  }
                  &:hover{
                    color: rgb(157, 214, 214);
                  }
                }
                .grand-children-name{
                  display: block;
                  color: rgb(70, 165, 165);
                  &::before{
                    font-family: "Font Awesome 5 Free";
                    content:"\f054";
                    font-weight: bold;
                  }
                  &:hover{
                    color: rgb(157, 214, 214);
                  }
                }
              }
            }
            &__box{
              display: flex;
              .leftbox{
                height: 40px;
                line-height: 40px;
                width: 150px;
                background-color: lightgray;
                text-align: center;
                border-right: solid 1px gainsboro;
                border-bottom: solid 1px gainsboro;
              }
              .rightbox{
                height: 40px;
                width: 450px;
                line-height: 40px;
                background-color: white;
                border-bottom: solid 1px gainsboro;
                border-right: solid 1px gainsboro;
                padding-left: 7px;
              }
            }
          }

        }
        
      
        &__price{
          height: 100px;
          line-height: 100px;
          width: 600px;
          background-color: white;
          margin: auto;
          font-size: 50px;
          font-weight: bold;
          text-align: center;
          margin-top: 130px;
          &::before{
            content: '¥';
          }
        }
        &__additional-price{
          height: 40px;
          line-height: 40px;
          width: 600px;
          margin: auto;
          text-align: center;
          background-color: white;
        }
        .item-buy-btn {
          font-size: 20px;
          line-height: 50px;
          background-color: #3CCACE;
          color: #fff;
          display: block;
          text-align: center;
          font-weight: 500;
          margin: 20px auto;
          width: 700px;
          height: 50px;
        }
        .item-sold-notice {
          font-size: 20px;
          line-height: 50px;
          background-color: red;
          color: #fff;
          display: block;
          text-align: center;
          font-weight: 500;
          margin: 20px auto;
          width: 700px;
          height: 50px;
        }
        &__description{
          height: auto;
          max-height: 1000px;
          width: 700px;
          background-color: white;
          margin: 30px auto;          
        }
        
        &__links{
          height: 50px;
          width: 600px;
          background-color: white;
          margin: auto;
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
            &__favorite {
              .option {
                display: flex;
                justify-content: space-between;
                &__like {
                  &-on {
                    text-decoration: none;
                    padding: 11px 10px;
                    border-radius: 40px;
                    color: #FF5192;
                    border: 1px solid #3CCACC;
                    display: flex;
                    line-height: 16px;
                    .fas.fa-heart {
                      padding-right: 5px;
                    }
                    &__text {
                      padding-right: 5px;
                    }
                  }
                  &-off {
                    text-decoration: none;
                    padding: 11px 10px;
                    border-radius: 40px;
                    color: #333;
                    border: 1px solid #f5f5f5;
                    display: flex;
                    line-height: 16px;
                    background: #f5f5f5;
                    .fas.fa-heart {
                      padding-right: 5px;
                    }
                    &__text {
                      padding-right: 5px;
                    }
                  }
                }
              }
            }

          &__report{
            height: 50px;
            width: 230px;
            display: flex;
            border: solid 1px black;
            border-radius: 5px;
            &__icon{
              height: 50px;
              line-height: 50px;
              width: 50px;
              background-color: white;
              margin-right: 5px;
              border-radius: 5px;
            }
            &__letter{
              height: 50px;
              line-height: 50px;
              width: 150px;
              background-color: white;
              margin-right: 20px;
              border-radius: 5px;
            }
          }
        }
      }

      &__edit-delete-btn-content{
        height: 250px;
        width: 920px;
        background-color: white;
        margin: 20px auto;
        position: relative;

        .edit-btn {
          width: 700px;
          height: 50px;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 110px;
          left: 0;
          background-color: #FF0000;

          &__text {
            width: 100%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            color: white;
          }
          .selection {
            width: 700px;
            height: 50px;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            line-height: 50px;
            text-align: center;
          }
          a {
              .delete-btn {
                width: 700px;
                height: 50px;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                line-height: 50px;
                text-align: center;
                background-color: #AAAAAA;
                color: white;
              }
          }
          
        }

      }
      &__commentbox{
        height: auto;
        width: 920px;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        position: relative;
        padding-bottom: 30px;
        &__warning{
          height: 80px;
          line-height: 30px;
          width: 600px;
          background-color: #FFF6DE;
          color: #333333;
          margin-left: 120px;
          position: absolute;
          left: 50px;
          top: 20px;
          text-align: center;
        }
        &__content{
          height: 200px;
          width: 700px;
          background-color:white;
          margin: 0 60px;
          box-sizing: border-box;
          position: absolute;
          top: 120px;
          left: 50px;
        }
        &__comment{
          resize: none;
          height: 200px;
          width: 700px;
          background-color: white;
          margin: auto;
          left: 210px;
          top: 280px;
          display: flex; 

          &__btn{
            width: 200px;
            font-weight: bold;
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            background-color: #3ccace;
            text-align: center;
            color: white;
            left: 200px;
            cursor: pointer;
          }
        }
        .testclass {
          margin: auto;
          height: 50px;
          width: 200px;
          margin-top: 10px;
        }
        .comments {
          padding-top: 300px;
          h4 {
            text-align: center;
          }
          &__box {
            padding-top: 100px;
            height:auto;
            width: 700px;
            margin: 0 auto;
            overflow: scroll;
            .upper-comment {
              display: flex;
              .upper-comment__user-name {
                margin-right: 10px;
                .link {
                  text-decoration: none;
                }
              }
              &__date {
                color: #999999;
                font-size: 12px;
              }
            }
            .lower-comment {
              margin-bottom: 20px;
            }
          }
        }
        
      }
    }
  }

.comment-icon{
  color: white;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}

.star-icon{
  color:  #3ccace;
  margin-left: 30px;
}

.flag-icon{
  margin-left: 30px
}