a {
  text-decoration: none;
}

.header {
  height: 100px;
  width: 100%;
  &__box {
    height: 100%;
    width: 65%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      height: 40px;
      width: 100%;
      display: flex;
      line-height: 40px;
      .logo {
        position: relative;
        display: flex;
        align-items: center;
      }
      .search__box {
        width: 100%;
        margin-left: 30px;
        display: flex;
        &__form {
          width: 100%;
        }
        &__btn {
          background-color: #3CCACE;
          padding: 8px;
        }
      }
    }
    &__sub {
      height: 35px;
      margin: 10px 0;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      .lists__left {
        line-height: 35px;
        display: flex;
        .category {
          margin-left: 10px;
          color: black;
        }
        .brand {
          margin-left: 50px;
          color: black;
        }
      }
      .lists__right {
        line-height: 35px;
        display: flex;
        .login {
          margin-right: 50px;
          color: black;
        }
        .signin {
          margin-right: 10px;
          color: black;
        }
      }
    }
  }
}

.product-contents{
  height: 2100px;
  width: 100%;
  padding-top: 20px;
  position: relative;
  background-color: gainsboro;
    &__inner{
      height: 2100px;
      width: 800px;
      background-color: gainsboro;
      margin: 0 auto;
      &__mainbox{
        height: 1500px;
        width: 700px;
        margin: auto;
        background-color: white;
        &__top{
          margin: auto;
          height: 100px;
          width: 600px;
          background-color: white;
          text-align: center;
          font-weight: bold;
          // margin-top: 20px;
          &__name {
            height: 70px;
            font-size: 40px;
            line-height: 70px;
          }
          &__itemManage {
            height: 30px;
            text-decoration: none;
            color: #3CCACE;
            .itemManage__edit {
              padding: 0 10px;
              text-decoration: none;
              color: #333;
              background-color: #3CCACE;
              border: 1 solid;
              border-radius: 5%;
              line-height: 30px;
            }
            .itemManage__delete {
              padding: 0 10px;
              text-decoration: none;
              color: #333;
              background-color: #3CCACE;
              border: 1 solid;
              border-radius: 5%;
              line-height: 30px;
            }
          }
        }
        &__main-image{
          margin: auto;
          height: 300px;
          width: 600px;
          background-image: url(https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg);
          background-size: cover;
        }
        &__other-images{
          margin: auto;
          height: 150px;
          background-color: cadetblue;
          width: 550px;
          &__three-images{
            display: flex;
            &__first{
              height: 150px;
              width: 183px;
              background-image: url(https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg);
              background-size: cover;
            }
            &__second{
              height: 150px;
              width: 183px;
              background-image: url(https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg);
              background-size: cover;
            }
            &__third{
              height: 150px;
              width: 183px;
              background-image: url(https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg);
              background-size: cover;
            }
          }
        }
        &__price{
          height: 100px;
          line-height: 100px;
          width: 600px;
          background-color: white;
          margin: auto;
          font-size: 50px;
          font-weight: bold;
          text-align: center;
          &::after{
            content: 'å††';
          }
        }
        &__additional-price{
          height: 40px;
          line-height: 40px;
          width: 600px;
          margin: auto;
          text-align: center;
          background-color: white;
        }
        .item-buy-btn {
          font-size: 24px;
          line-height: 60px;
          background-color: #3CCACE;
          color: #fff;
          display: block;
          text-align: center;
          font-weight: 600;
          margin: 16px 40px;
        }
        &__description{
          height: 300px;
          width: 600px;
          background-color: white;
          margin: auto;
          
        }
        &__table{
          height: 300px;
          width: 600px;
          background-color: darkslateblue;
          margin: auto;
          border: solid 1px gainsboro;
          &__box{
            display: flex;
            .leftbox{
              height: 37.5px;
              line-height: 37.5px;
              width: 150px;
              background-color: lightgray;
              text-align: center;
              border-right: solid 1px gainsboro;
              border-bottom: solid 1px gainsboro;
            }
            .rightbox{
              height: 37.5px;
              width: 450px;
              background-color: white;
              border-bottom: solid 1px gainsboro;
            }
          }
        }
        &__links{
          height: 50px;
          width: 600px;
          background-color: white;
          margin: auto;
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          &__favorite{
            height: 50px;
            line-height: 50px;
            width:170px;
            background-color:white;
            display: flex;
            text-align: center;
            color: #3ccace;
            border: solid 1px #3ccace;
            &__icon{
              height: 50px;
              width: 50px;
              background-color: white;
              color:  #3ccace;
            }
            &__letter{
              height: 50px;
              line-height: 50px;
              width: 120px;
              background-color: white;
            }
          }
          &__report{
            height: 50px;
            width: 200px;
            background-color: lightcoral;
            display: flex;
            border: solid 1px black;
            &__icon{
              height: 50px;
              line-height: 50px;
              width: 50px;
              background-color: white;
            }
            &__letter{
              height: 50px;
              line-height: 50px;
              width: 150px;
              background-color: white;
              
            }
          }
        }
      }
      &__commentbox{
        height: 400px;
        width: 700px;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        position: relative;
        &__content{
          height: 100px;
          width: 600px;
          background-color:white;
          margin: auto;
          box-sizing: border-box;
          position: absolute;
          top: 30px;
          left: 50px;
          border: solid 1px black;
        }
        &__warning{
          height: 80px;
          line-height: 30px;
          width: 600px;
          background-color: gainsboro;
          margin: auto;
          position: absolute;
          left: 50px;
          top: 160px;
          text-align: center;
        }
        &__comment{
          height: 50px;
          width: 250px;
          background-color: white;
          margin: auto;
          position: absolute;
          left: 210px;
          top: 280px;
          display: flex;
          &__icon{
            width: 50px;
            height: 50px;
            line-height: 60px;
            background-color: #3ccace;
          }
          &__btn{
            width: 200px;
            font-weight: bold;
            font-size: 30px;
            height: 50px;
            line-height: 50px;
            background-color: #3ccace;
            text-align: center;
            color: white;

          }
        }
      }
      &__lowerbox1{
        height: 50px;
        width: 700px;
        margin: auto;
        background-color: gainsboro;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: #3ccace;
      }
      &__lowerbox2{
        height: 60px;
        width: 700px;
        margin: auto;
        font-size: 35px;
        background-color: gainsboro;
        color: #3ccace;
      }
    }
  }









  .appbanner {
    height: 150px;
    width: auto;
    padding: 100px 40px;
    background-image: url("/material/pict/bg-appBanner-pict.jpg");
    background-size: cover;
    background-position: center;
    &__inner {
      color: white;
      text-align: center;
      
      .inner__title {
        font-size: 24px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-weight: bold;
      }
      .inner__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4)
      }
      .inner__btn {
        height: 70px;
        .abtn {
          height: 100%;
          width:  auto;
        }
        .abtn:hover {
          opacity: 0.5 ;
        }  
        .gbtn {
          height: 100%;
          width:  auto;
          margin-left: 50px;
          transform: scale(1.45);
        }
        .gbtn:hover {
          opacity: 0.5 ;
        }
      }
    }
  }
  
  
  
  
  .footer {
    height: 230px;
    padding: 60px 0;
    background-color: black;
    &__contents {
      padding: 0 350px;
      display: flex;
      justify-content: space-around;
      .content {
        .title {
          margin-bottom: 23px;
          font-weight: bold;
          color: white;
        }
        .lists {
          text-align: center;
          .list {
            font-size: 10px;
            margin-top: 15px;
            color: white;
          }
        }
      }
    }
    .footer__logo {
      margin-left: 750px;
    }
    p {
      color: white;
      text-align: center;
    }  
  }
  
  
  
  
  
  a {
    .exhibit {
      width: 85px;
      padding: 15px;
      background: #3CCACE;
      text-align: center;
      border-radius: 4%;
      position: fixed;
      bottom: 32px;
      right: 32px;
      .text {
        margin-bottom: 5px;
        font-size: 18px;
        color: #fff;
      }
      &__icon {
        width: 60%;
      }
    }
  }


.comment-icon{
  color: white;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
}

.star-icon{
  color:  #3ccace;
  margin-left: 30px;
}

.flag-icon{
  margin-left: 30px
}