.login{
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
  text-align: center;
  &__header{
    margin: auto;
    background-color: #f1f1f1;
    height: 100px;
    width: 500px;
    line-height: 120px;
  }
  &__no-account{
    height: 100px;
    width: 500px;
    margin: auto;
    background-color: white;
    border-bottom: grey;
  }
  &__box{
    background-color: white;
    height: 400px;
    width: 500px;
    margin: auto;
    &__field{
      margin: auto;
    }
    &__actions{
      height: 100px;
      margin-top: 30px;
    }
    &__forget-passward{

    }
  }
  &__footer{
    
  }
}

.enter-registration{
  align-items: center;
  text-decoration: none;
  &__btn{
    background-color: #66FFFF;
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-decoration: none;
    color: white;
    margin-top: 20px;
  }
}  

.new-account{
  text-decoration: none;
  color: black;
}

.forget-btn{
  text-decoration: none;
  color: blue;
}

.login-btn{
  height: 50px;
  width: 190px;
  background-color:#66ffff;
}