.main__right {
  height: 865px;
  width: 700px;
  &__title {
    width: 660px;
    height: 50px;
    font-weight: bold;
    padding: 20px;
    background-color: $whiteColer;
  }
  &__tabTodo {
    width: 700px;
    height: 76px;
    .tabTodo {
      height: 74px;
      background-color: $whiteColer;
      display: flex;
      .onsale {
        width: 350px;
        height: 74px;
        line-height: 74px;
        text-align: center;
        border-top: 2px solid $redColer;
        font-weight: bold;
        text-decoration: none;
      }

      .dealing {
        width: 233px;
        height: 74px;
        line-height: 74px;
        text-align: center;
        font-weight: bold;
      }
      .sold {
        width: 350px;
        height: 74px;
        background-color: $grayColer;
        line-height: 74px;
        text-align: center;
        color: $blackColer;
        font-weight: bold;
      }
    }

    .tabContent {
      height: 81px;
      &__info {
        width: 700px;
        height: 81px;
        border-bottom: 1px solid $grayColer;
      }
      &__lists {
        width: 700px;
        height: 70px;
        display: flex;
        &__product-name {
          margin-left: 2px;
          .onsale-sign {
            width: 40px;
            height: 16px;
            background-color: $grrenColer;
            font-size: 8px;
            font-weight: bold;
            color: $whiteColer;
            line-height: 16px;
            text-align: center;
            margin-left: 2px;
          }
          .like-counts{
            font-size: 13px;
            margin-top: 4px;
            &::before{
              font-family: "Font Awesome 5 Free";
              font-weight: bold;
              content: '\f004';
              color: rgb(255, 112, 195);
            }
          }
        }
      }
    }
  }
}