.main__right__top {
  background-color: $whiteColer;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
}
.main__right__form {
  background-color: $whiteColer;
  .form-group-edit {
    width: 500px;
    margin: auto;
    &__input{
      display: block;
      margin: auto;
      &--hqlf{
        align-items: left;
      }
    }
    &__info{
      font-size: 5px;
      height: 70px;
      line-height: 70px;
      &__extra{
        font-size: 5px;
        height: 30px;
      }
    }
    &__text--center{
      font-size: 5px;
    }
  }
  .edit-btn-default-btn {
    background-color: $grrenColer;
    color: $blackColer;
    margin: 50px 250px 50px 250px;
    height: 40px;
    width: 200px;
  }
}


