.body {
  background-color: $thingrayColer;
  .header {
    height: 100px;
    width: auto;
    background-color: $whiteColer;
    border-bottom: 1px solid;
    color: $thingrayColer;
    &__box {
      height: 100%;
      width: 65%;
      margin: 0 auto;
      padding: 15px 0 0;
      &__main {
        height: 40px;
        width: 100%;
        display: flex;
        line-height: 40px;
        .logo {
          width: 140px;
          margin-right: 40px;
          position: relative;
          display: flex;
          align-items: center;
        }
        .search__box {
          display: flex;
          width: 100%;
          &__form {
            width: 100%;
          }
          &__btn {
            display: block;
            background-color: $grrenColer;
            padding: 8px;
          }
        }
      }
      &__sub {
        font-size: 15px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .lists__left {
          display: flex;
          line-height: 35px;
          .category {
            margin-left: 10px;
          }
          .brand {
            margin-left: 50px;
          }
        }
      }
    }
  }
  
  
  .nav {
    width: auto;
    height: 49px;
    background-color: $whiteColer;
    &__itemscope {
      display: flex;
      padding: 16px 0;
      margin: 0 auto 0 auto;
      width: 1020px;
      &__itemtype {
        display: flex;
        .navgation {
          text-decoration: none;
        }
      }
    }
  }
  .main {
    width: auto;
    height: 1292px;
    background-color: $thingrayColer;
    display: flex;
    margin: 40px 210px 0 210px;
    &__left {
      width: 280px;
      margin-right: 40px;
      height: 336px;
      &__nav {
        background-color: $whiteColer;
        .nav__lists {
          &__list {
            width: 248px;
            height: 15px;
            border-bottom: 1px solid $thingrayColer;
            padding: 16px;
            .moji {
              width: 280px;
              height: 48px;
              font-weight: 600;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__right {
      height: 1000px;
      width: 700px;
      &__head {
        text-align: center;
        height: 50px;
        line-height: 50px;
        background-color: $whiteColer;
        font-size: 20px;
        font-weight: bold;
      }
      &__userIcon {
        background-image: url(/material/pict/bg-topMiddleDl-pict.jpg);
        width: 660px;
        height: 100px;
        padding: 20px;
        .button {
          height: 111px;
          width: 660px;
          display: block;
          text-align: center;
          margin-top: 45px;
          text-decoration: none;
          &__top {
            &__icon {
              height: 60px;
              width: 60px;
            }
          }
          &__name {
            text-decoration: none;
            color: $blackColer;
          }
          &__number {
            display: flex;
            text-align: center;
            &__box {
              margin-left: 255px;
              display: flex;
              width: 200px;
              color: $blackColer;
              .box1 {
                margin-right: 40px;
              }
            }
          }
        }
      }
      &__name {
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
      &__profile {
        width: 700px;
        height: 500px;
        background-color: $whiteColer;
        &__box {
          width: 600px;
          height: 400px;
          padding: 50px;
          &__list1 {
            height: 80px;
            display: flex;
            border: 1px solid;
            border-color: $grrenColer;
            &__label {
              width: 100px;
              line-height: 80px;
              border-right: 1px solid;
              border-color: $grrenColer;
            }
            &__content {
              width: 500px;
              line-height: 80px;
            }
          }
          &__list {
            height: 80px;
            display: flex;
            border: 1px solid;
            border-top: none;
            border-color: $grrenColer;
            &__label {
              width: 100px;
              line-height: 80px;
              border-right: 1px solid;
              border-color: $grrenColer;
            }
            &__content {
              width: 500px;
              line-height: 80px;
            }
          }
        }
      }
    }
  }
}