.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;

  .creditcard-new-header {
    height: 80px;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 100px;
  }

  .creditcard-upper-box{
    width: 700px;
    height: 60px;
    margin: 0 auto;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    background-color: white;
  }
  .mains{
    box-sizing: border-box;
    width: 700px;
    height: 500px;
    margin: 3px auto;
    background-color: white;
    &__box {
      height: 400px;
      width: 600px;
      padding: 30px 50px 0 200px;
      .titles{
        display: flex;
        .title{
          font-size: 14px;
          font-weight: 600;
        }
        .required{
          height: 19px;
          width: 41px;
          font-size: 14px;
          font-weight: lighter;
          text-align: center;
          color: white;
          background-color: rgb(255, 0, 0);
          display: inline-block;
          border-radius: 2px;
        }
      }
      .number {
        height: 48px;
        width: 300px;
        border-radius: 4px;
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;

      }
      .cards {
        margin: 5px 0 0 5px;
      }

      .input-date {
        display: flex;

        #exp_month, #exp_year {
          height: 48px;
          width: 131px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          outline: none;
        }
  
        span {
          font-size: 14px;
          color: gray;margin: 10px 10px;
        }

      } 

      #token_submit {
        margin: 50px 0 20px 0;
        background-color: red;
        color: white;
        font-weight: bold;
        width: 300px;
        height: 48px;
        border-radius: 4px;
        cursor: pointer;
      }
      .return {
        background-color: #DDDDDD;
        font-weight: bold;
        width: 300px;
        height: 48px;
        border-radius: 4px;
        outline: none;
        border-style: none;
        display: block;
        cursor: pointer;
        line-height: 48px;
        text-align: center;
      }
      .cvc {
        height: 48px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background: 0;
        outline: none;
      }

    }
  }
  
}

.logo-img {
  text-align: center;
}
.logo-text {
  text-align: center;
}