.wrapper {

  .items-new-header {
    height: 80px;
    width: 100%;
    background-color: #f1f1f1;

    .done-logo {
      margin: 20px 0 0 620px;
    }
  }

  .upper-box {
    color: red;
    width: 700px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
  }
  .done-main {
    box-sizing: border-box;
    height: 330px;
    width: 700px;
    margin: 3px auto;
    background-color: white;
    font-size: 20px;
    text-align: center;

    &__inner-content {
      height: 200px;
      width: 600px;
      padding: 50px 50px;

      .done-iyem-name {
        font-size: 16px;
        font-weight: bold;
      }

      .item-price {
        font-size: 20px;
        color: #333333;
        &::before {
          content: '¥';
        }
      }
      .return {
        margin: 30px auto;
        background-color: #DDDDDD;
        font-size: 16px;
        font-weight: bold;
        width: 300px;
        height: 48px;
        border-radius: 4px;
        outline: none;
        border-style: none;
        display: block;
        cursor: pointer;
        line-height: 48px;
        text-align: center;
      }      
    }
  }

  

  .lower-box {
    height: 150px;
    bottom: 0;
    background-color: #f1f1f1;
    padding: 10px 0 41px;
    
    .legal-info-box {
      width: 100%;      
      font-size: 12px;
    } 
    .footer__logo {

      .logo-img {
        text-align: center;
        padding-top: 50px;
      }

      .logo-text {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}